@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body{
    font-family: "Merriweather", serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* banner style */
.assignment-b9{
   max-width:1320px;
    min-height: 600px;
    border:2px solid red;
    border-radius: 2px;
    margin:0 auto;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.3);
    background-image: url(./new-years/new-year-offer-resources-main/images/Banner\ Image.png);
    background-position: center;
    background-repeat:  no-repeat;

    background-blend-mode: overlay;

}
.banner-content{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 600px;
    
}
.banner-content h1{
    font-weight:900px;
     font-size: 72px;



}
.banner-content h5{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
.banner-content h5 ,h1{
    color:white;
}

/* categories style */
.section-1-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    

}
.secrion-1-heading h1{
    color: rgb(241, 7, 7);
    font-size: 88px;
    font-weight: 700;
    margin:80px 50px;
    text-align: center;
}
.secrion-1-heading h5{

    font-size: 24px;
    font-weight: 400;
    margin:20px 20px;
    color:rgb(241, 7, 7);
}
.secrion-1-heading h2{
    color:rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    margin:20px 20px;
}
.section-1-image{
    background: url(happy-new-year-3d-letters-sign-coloful-background-blurred-fireworks-2024-new-year-party);
}
/* midnight style */
.section-2{
    width: 1320px;
    height: 600px;
    border:2px splid red;
    background-color: rgba(0,0,0,0.3);
    background-image: url(./new-years/new-year-offer-resources-main/images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    margin:0 auto;
     margin-top: 70px;
     border-radius: 16px;
    background-blend-mode: overlay;

}
.section-2-container{
    
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    display:flex;
}
.section-2-title{
    width:50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section-2-image{
    width:50%;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.section-2-title p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-left: 80px;
margin-top:20px;

    
}
.section-2-title h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
}
.section-2-image img{
    width: 349.16px;
height: 464.65px;
}
/* section 3 style */
.section-3{
    width: 1320px;
height: 482px;
barder:2px solid red;
border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
margin:0 auto;
margin-top:40px;
}
.section-3-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 482px;
    margin: 0 auto;
    margin-top: 20px;
}
.section-3-heading h1{
    font-size: 32px;
font-weight: 600;
line-height: 56px;
color:rgb(7, 2, 17);

}
.section-3-heading span{
    font-size: 32px;
font-weight: 600;
line-height: 56px;
color:rgb(255, 0, 0);

}
.place{
    margin-left: 80px;
    margin-bottom: 20px;
}
.date{
    margin-left: 20px;
    margin-bottom: 20px;
}
/* offer section style */
.section-4{
    
    width: 1320px;
   height: 463px;
   margin-top: 50px;
   margin:0 auto;

}
.section-4-container{
    display:flex;

}
.section-4-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:33%;
    height: 463px;
}
.section-4-img{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:33%;
    height: 463px;
    
    border: 15px solid rgb(255, 0, 0);
    border-radius:15px;


}
.section-4-description{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:33%;
    height: 463px;
}
.section-4-description img{
    margin-top:50px;
}
.section-4-title h5{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.section-4-title h1{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-top: 20px;
}
.section-4-title p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-left: 40px;
margin-top: 40px;
}
.section-4-description h2{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.section-4-description p{

    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-left: 40px;
}
.section-4-description img{
    
background: linear-gradient(180.00deg, rgb(248, 246, 251) 16.255%,rgb(239, 220, 251) 88.723%);

}
/* section 5 holydays */
.section-5{
width: 1320px;
height: 986.07px;

margin:0 auto;
margin-top: 50px;
position: relative;
}
.section-5-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
height: 260px;
margin:0 auto;
text-align: center;

    
    
    
}
.section-5-title h3{
    margin-left: 400px;
    width: 263px;
height: 29px;
color:rgb(7, 2, 17);
align-items: center;
margin-top:20px;
margin-bottom: 20px;
}
.section-5-title h1{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
color:rgb(7, 2, 17);
margin-bottom: 20px;

}
.section-5-title span{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
color:rgb(255, 0, 0);

}
.section-5-title p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
}
.section-5-box{
    width: 1320px;
height: 329px;
background-color: red;
position: absolute;
top:75%;
}
.section-5-image{
    
width: 674.82px;
height: 577.96px;
position: absolute;
top:30%;
margin-right: 600px;

}
.section-5-discount{
    position: absolute;
width: 114px;
height: 88px;
top:45%;
margin-left:40% ;
}

/* section 6 style */
.section-6{
    width: 1320px;
height: 1163px;
margin:0 auto;

margin-top: 130px;
}
.section-6-title h5{
    color: rgb(255, 0, 0);

font-size: 24px;
font-weight: 500
}
.section-6-title h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.section-6-title p{

    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-bottom: 30px;
}
.section-6-images{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin:10px;
}